.container-fluid {
    flex: 1; /* Prendre tout l'espace disponible */
}

#login__div__container {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 10%;
}

#form__login {
    width: 10%;
}

#header__form {
    position: absolute;
    top: 1%;
    right: 1%;
    padding-top: 2px;
    font-style: italic;
    font-weight: bold;
}

#username, #password {
    width: 5%;
}


.header__div {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 10px #0BF;
    position: fixed;
}

#formAjout {
    position: absolute;
    left: 35%;
    top: 10%;
    width: 30%;;
}

#table__restaurant {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 75%;
}

th, td {
    padding: 50px;
    width: 100px;
}


#connexion {
    position: relative;
    left: 30%;
    font-weight: bold;
    font-style: italic;
}

.login__form__caption {
    position: relative;
    left: 30%;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

.div__deconnexion {
    font-style: italic;
    display: inline;
    position: absolute;
    bottom: 1%;
    right: 1%;
}