body,html{
font-family: ubuntu,verdana,sans-serif;
font-size:13px;
}

#header__form{
position:relative;
left:85%;
padding-top:2px;
font-style:italic;
font-weight:bold;
}

.header__div{
font-size: 20px;
font-weight: bold;
font-style: italic;
text-align: center;
text-shadow: 0px 0px 10px #0BF;
position:fixed;
}

#formAjout{
position: absolute;
left:35%;
top:10%;
width: 30%;;
}

#table__restaurant{
position: absolute;
top:10%;
left:10%;
width: 75%;
}

th,td{
    padding:50px;
width:100px;
}

.float-left {
display:inline;
    float: left;
    margin-right: 10px; /* Ajoutez une marge droite pour un espacement entre les éléments */
}

.float-right {
display:inline;
    float: right;
    margin-left: 10px; /* Ajoutez une marge gauche pour un espacement entre les éléments */
}
