body,html{
font-family: ubuntu,verdana,sans-serif;
}

#header__form{
position:relative;
left:85%;
padding-top:1px;
font-style:italic;
font-weight:bold;
}

.header__div{
font-size: 20px;
font-weight: bold;
font-style: italic;
text-align: center;
text-shadow: 0px 0px 10px #0BF;
position:fixed;
}

#formAjout{
position: absolute;
left:35%;
top:10%;
width: 30%;;
}

#table__restaurant{
position: absolute;
top:10%;
left:10%;
width: 75%;
}

th,td{
    padding:50px;

}
